<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>less-elements</string>
	<key>uuid</key>
	<string>AD3AACC0-221C-4465-96A0-9E59BC164CB0</string>
</dict>
</plist>
